manifest {
  name = 'eQTL-DETECT'
  version = '1.0.1'
  description = 'eQTL-DETECT Suite: To detect cis, trans and sQTL'
  homePage = 'https://github.com/BovReg/BovReg_eQTL'
}


/* parameters to feed the pipeline */
params {

    /* Input channel objects */
    // Note: $projectDir is the current working directory 
    
    fasta = "$projectDir/Reference_Genome/Bos_taurus.ARS-UCD1.2.dna.toplevel.fa"

    gtf = "$projectDir/Reference_Genome/Bos_taurus.ARS-UCD1.2.109.gtf"


    /* Path to store the reference STARindex */

    starindex = "$projectDir/eQTL_Output/"

    corresponding_SampleInfo = "$projectDir/Demodata/RNA_WGS_CorresID_BovReg.txt"

    /* TSV files to declare different input data */
    pairedreads="$projectDir/Demodata/fasta_paired_input.tsv"

    singlereads="null"

    bamIpfiles = "$projectDir/Demodata/Bam_input.tsv"

    countMatrices = "$projectDir/Demodata/Count_matrices.tsv"

    genoIpfiles = "$projectDir/Demodata/Geno_input.tsv"

    

    /* output path to store results */

    outdir = "$projectDir/eQTL_Output"




     /* Parameters*/
    // Parameters for qunatifying splicing expression counts (sQTL)

    anchor_length = 8 

    intron_length_minimum = 50

    intron_length_maximum = 500000


    // Parameters for principle component analysis (PCA)

    genotype_pcs = 10

    phenotype_PCs_cis = 10

    phenotype_Pcs_trans = 10

    phenotype_PCs_sQTL = 10 

    // Parameters cis-eQTL
    cis_nominal = 0.01

    cis_permutations = 1000

    cis_FDR = 0.05

    //  Parameters trans-eQTL

    trans_threshold = 1e-5

    trans_permutations = 100

    nominal_trans = 0.01


    // Type of RNAseq reads 

    pairedEnd_reads = true

    sigleEnd_reads = false


    // Aligned and sorted bam files as input either from paired-end or single-end reads
    /* Using this bam files skips alignment and sorting steps */

    bamFiles_input = false 


    // StringTie strandedness

    firstStranded = true

    secondStranded = false

    unStranded = false


    // Count matrices as input
    /*Using count matrices skips alignment, sorting and quantification steps*/

    countMatrices_input = false


}





