process.container = 'nextflow/rnaseq-nf'
docker.runOptions='-u $(id -u):$(id -g)'
docker{
    enabled = true
    temp = 'auto'
}	


executor {
    name = 'local'
    queueSize = 5
    pollInterval = '30 sec'
}


manifest {
    homePage = 'https://github.com/Praveen-Chitneedi/BovReg_eQTL'
    description = 'Pipeline does this and that'

}
